<app-menu></app-menu>

<div class="container-fluid pt-3">

  <div class="row">
    <div class="col-12">
      <h1 class="title">Cadastro de usuários</h1>
      <h2 class="subtitle">Gerencie usuários, adicionando, editando ou excluindo</h2>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <app-button class="float-end" textButton="+ cadastrar"></app-button>

      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Digite sua busca" #input>
      </mat-form-field>
    </div>
  </div>
</div>
