<nav class="sidemenu">
  <ul>
    <li routerlink="/home">
        <img src="../../../assets/images/logo.png" width="40px">
        <span class="logo">Crud Users</span>
    </li>
    <li routerlink="/home"><mat-icon>home</mat-icon>Home</li>
    <li routerlink="/usuarios"><mat-icon>person_add</mat-icon>Cadastrar Usuários</li>

    <a href="https://firebase.google.com/?gad_source=1&gclid=Cj0KCQiAy8K8BhCZARIsAKJ8sfSghRXh11EhIzqvf1jEPOGb-pIDF5i5PlijxP8-kTGzWZTG3p2Mf2waAk7KEALw_wcB&gclsrc=aw.ds" target="_blank"><li><mat-icon>local_fire_department</mat-icon>Firebase</li></a>
    <a href="https://angular.dev/" target="_blank"><li><mat-icon>description</mat-icon>Angular</li></a>

    <li routerlink="/login" class="logout"><mat-icon>logout</mat-icon>Sair</li>
  </ul>

</nav>